@import "tailwindcss";
@import "tw-animate-css";

body {
  @apply bg-gray-100 text-gray-900;
}

#root {
  @apply flex flex-col min-h-screen;
}

.app-container {
  @apply w-[90%] mx-auto flex flex-col items-center justify-center flex-1;
}